#page {}
h1{font-size:20px;}
.form-horizontal .form-group {margin-left:0; margin-right:0;}
.form-control-value{padding-top:7px;}
.subtotal{border-top:2px solid !important; }
.total{border-top:2px solid !important; border-bottom:3px double !important;}
.form-horizontal .control-label{text-align: left; padding-left:0;}
.panel-heading .row{margin-left:0;}
.topBtn{margin-left:10px;}
.topBtn:first-child{margin-left:0;}
label{font-weight:normal;}
.panel-default>.panel-heading {background-color: #ddd;}
.alert-error, .errorMessage, .help-inline.error{color:red; font-weight:700;}
.side-nav-contanier{position:fixed; bottom:0%;}
.side-nav > li{list-style: none; padding-top:10px;}
.form-actions{padding : 5px 0 5px 0;}

.navbar-fixed-side-left {
  left: 0;
}
.navbar-fixed-side-right {
  right: 0;
}
.navbar-fixed-side {
  position: fixed;
  border-width: 0;
  z-index: 1030;
  min-height: 5px;
  min-width: 5px;
  max-width: 200px;
  margin-bottom: 0;
  border: 0px solid transparent;
}
.navbar-fixed-side .navbar-toggle {
  float: none;
  margin: 0;
}
.navbar-fixed-side .nav > li > a {
  width: 100%;
  padding: 5px;
}
.navbar-fixed-side .dropdown-menu > li > a {
  padding: 5px;
}
.navbar-fixed-side .dropdown-header {
  padding: 5px;
}
.navbar-fixed-side .navbar-nav {
  margin: 0;
}
.navbar-fixed-side .navbar-nav > li {
  float: none;
}
.navbar-fixed-side .navbar-nav > li > a {
  padding: 5px;
  line-height: 20px;
}
.navbar-fixed-side .navbar-nav .open .dropdown-menu > li > a,
.navbar-fixed-side .navbar-nav .open .dropdown-menu .dropdown-header {
  padding: 3px 5px 3px 15px;
}
.navbar-fixed-side .container {
  width: 100%;
  padding: 0;
}
.navbar-fixed-side .navbar-header {
  float: none;
  margin: 0;
}
.navbar-fixed-side .navbar-collapse {
  padding: 0 2px;
}
.navbar-fixed-side .container .navbar-collapse {
  margin: 0;
}
.navbar-fixed-side .container .navbar-brand {
  margin: 0;
}
.navbar-fixed-side .navbar-brand {
  float: none;
  height: 100%;
  padding: 5px 3px;
  font-size: 18px;
  line-height: 20px;
}